# Compiled output
dist

# Package manager lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb

# Minified files
*.min.js
*.min.css

# @template-customization-start

# Images
*.svg

# Docusaurus artifacts
.docusaurus
.cache-loader
build

# Compiled plugins
image-generator/plugin/convertYAMLToSVG.js

# @template-customization-end
