# Images
*.svg

# Docusaurus artifacts
.docusaurus
.cache-loader
build

# "prettier-plugin-organize-imports" is bugged with JSX
src/pages/index.js
src/beginnersGuide.js

# The VSCode CSpell plugin causes the file to become unformatted whenever a new word is added.
cspell.json
