name: Deploy to Github Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '12.x'

      #- name: Install node modules
      #  uses: actions/cache@v2
      #  id: cache
      #  with:
      #    path: ${{ env.working-directory }}/node_modules
      #    key: deploy-node-modules-${{ hashFiles('package-lock.json') }}
      #- if: steps.cache.outputs.cache-hit != 'true'
      #  run: npm install
      #  working-directory: ${{ env.working-directory }}

      - name: Install node modules
        run: npm install

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
